{% load static %}

<!DOCTYPE html>
<html lang="en">

{% include 'global/partials/head.html' %}

<body>

{% include 'global/partials/pre-loader.html' %}

<div id="pcoded" class="pcoded">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">

        {% include 'global/partials/nav-bar.html' %}

        <div class="pcoded-main-container">
            <div class="pcoded-wrapper">

                {% include 'global/partials/sid-bar.html' %}

                <div class="pcoded-content">
                    <!-- Page-header start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-8">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">Dashboard</h5>
                                        <p class="m-b-0">Welcome to Mega Able</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <ul class="breadcrumb-title">
                                        <li class="breadcrumb-item">
                                            <a href="index.html"> <i class="fa fa-home"></i> </a>
                                        </li>
                                        <li class="breadcrumb-item"><a href="#!">Dashboard</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Page-header end -->
                    <div class="pcoded-inner-content">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'global/partials/scripts.html' %}

</body>

</html>
